/* NAVBAR */
nav {
    background-color: #532F8C;
    height: 60px;
    margin-bottom: 10px;
}
nav > * {
    color: white;
    padding: 20px;
    line-height: 60px;
    text-decoration: none;
}
nav a:hover {
    text-decoration: underline;
}

/* EVENTS */
.events-container {
    max-width: 500px;
    margin: 0 auto;
    display: grid;
    row-gap: 10px;
}
.events-container > * {
    display: grid;
    border: 2px solid gray;
    grid-template-rows: auto auto auto auto auto;
    padding: 0 30px;
}
.events-container p {
    margin-top: 0px;
    margin-bottom: 5px;
}
.event-author {
    font-size: smaller;
}
.event-description {
    font-style: italic;
}

/* FOOTER */
footer {
    height: 40px;
    background-color: #532F8C;
    color: white;
    line-height: 40px;
    padding: 0 20px;
    margin-top: 10px;
}